<article>
	<% let prev, next %>
	<% page.posts.forEach(function(post){ %>
		<% prev = post.prev %>
		<% next = post.next %>
		<div>
			<img src="<%= theme.avator %>" alt="avatar"/>
			<div>
				<div class="author">
					<%= config.author %>
				</div>
				<div class="time">
					<%-  date(post.date, 'YYYY年MM月DD日') %>
				</div>
			</div>
			<div>
				<div class="category">
					<% post.categories.forEach(function(category, i){ %>
						<% if (i == 0) { %>
							<a href="<%- url_for(category.path) %>">
								#<%= category.name %>
							</a>
						<% } %>
					<% }) %>
				</div>
				<div class="tag">
					<% if (post.tags != undefined && post.tags.length > 0){ %>
						<% post.tags.forEach(function(tag){ %>
							<a href="<%- url_for(tag.path) %>">
								<%= tag.name %>
							</a>
						<% }) %>
					<% } %>
				</div>
			</div>
		</div>
		<h1>
			<%= post.title %>
		</h1>
		<div>
			<%- toc(post.content, {list_number: false}) %>
			<%- post.content %>
		</div>
	<% }) %>
</article>

<div class="pagination">
	<% if (prev != undefined ) { %>
		<a href="<%- url_for(page.prev_link) %>">< 上一篇：<%= prev.title %></a>
	<% } %>
	<% if (next != undefined) { %>
		<a href="<%- url_for(page.next_link) %>">下一篇: <%= next.title %> ></a>
	<% } %>
</div>