<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= config.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
	<meta name="description" content="<%=config.description%>" />
	<meta name="keywords" content="<%=config.keywords%>" />
	<% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
		<% theme.stylesheets.forEach(function(path) { %>
			<%- css(path) %>
		<% }) %>
	<% } %>
</head>
<body>
	<header>
		<nav>
			<% Object.keys(theme.menu).forEach(function(key, num) { %>
				<a href="<%= theme.menu[key] %>"><%= _p(key) %></a> 
			<% }) %>
		</div>
	</header>
	<main>
		<%- body %>
	</main>
	<footer>
		<div id="gitalk-container"></div>
	</footer>
	<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
        <% theme.scripts.forEach(function(path) { %>
            <%- js(path) %>
        <% }); %>
    <% } %>
	<% if (is_home() || is_post() || is_page()) { %>
        <script>
			gitalk = new Gitalk({
				clientID: '<%=theme.gitalk.client_id%>',
				clientSecret: '<%=theme.gitalk.client_secret%>',
				repo: '<%=theme.gitalk.repo%>', 
				owner: '<%=theme.gitalk.owner%>',
				admin: ['<%=theme.gitalk.owner%>'],
				id: location.pathname, 
				distractionFreeMode: false
			})
			gitalk.render('gitalk-container')
        </script>
	<% } %>
</body>
</html>