<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
	<meta charset="utf-8">
	<title><%= config.title %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1 user-scalable=no" />
	<meta name="keywords" content="<%= config.keywords %>">
	<meta name="description" content="<%=config.description%>" />
	<%- meta_generator() %>
	<%- favicon_tag(theme.favicon) %>
	<% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
		<% theme.stylesheets.forEach(function(path) { %>
			<%- css(path) %>
		<% }) %>
	<% } %>
</head>
<body>
	<header>
		<nav>
			<% Object.keys(theme.menu).forEach(function(key, num) { %>
				<a href="<%= theme.menu[key] %>"><%= _p(key) %></a> 
			<% }) %>
		</div>
	</header>
	<main>
		<%- body %>
	</main>
	<footer>
		<div id="gitalk-container"></div>
		<span class="info">站点托管于 <a href="https://github.com/wxc0914/wxc0914.github.io">GitHub</a>，由 <a href="https://hexo.io/zh-cn/">Hexo</a> 强力驱动，目前总计 <a href="#"><%-totalcount(site) %></a> 字。</span>
	</footer>
	<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
        <% theme.scripts.forEach(function(path) { %>
            <%- js(path) %>
        <% }); %>
    <% } %>
	<% if (is_post() || is_current('/link')) { %>
        <script>
			gitalk = new Gitalk({
				clientID: '<%=theme.gitalk.client_id%>',
				clientSecret: '<%=theme.gitalk.client_secret%>',
				repo: '<%=theme.gitalk.repo%>', 
				owner: '<%=theme.gitalk.owner%>',
				admin: ['<%=theme.gitalk.owner%>'],
				id: location.pathname, 
				distractionFreeMode: false
			})
			gitalk.render('gitalk-container')
        </script>
	<% } %>
</body>
</html>