<article>
    <div>
        <img src="<%= theme.logo %>" alt="avatar"/>
        <div>
            <div>
                <%= config.author %>
            </div>
            <div>
                <%-  date(page.date, 'YYYY年MM月DD日') %>
            </div>
        </div>
        <% page.categories.forEach(function(category, i){ %>
            <% if (i == 0) { %>
                <a class="btn" href="<%- url_for(category.path) %>">
                    <%= category.name %>
                </a>
            <% } %>
        <% }) %>
    </div>
    <h1>
        <%= page.title %>
    </h1>
    <div>
        <%- page.content %>
    </div>
</article>