<article>
    <div>
        <img src="<%= theme.avator %>" alt="avatar"/>
        <div>
            <div class="author">
                <%= config.author %>
            </div>
            <div class="time">
                <%-  date(page.date, 'YYYY年MM月DD日') %>
            </div>
        </div>
        <div>
            <div class="category">
                <% page.categories.forEach(function(category, i){ %>
                    <% if (i == 0) { %>
                        <a href="<%- url_for(category.path) %>">
                            #<%= category.name %>
                        </a>
                    <% } %>
                <% }) %>
            </div>
            <div class="tag">
                <% if (page.tags != undefined && page.tags.length > 0){ %>
                    <% page.tags.forEach(function(tag){ %>
                        <a href="<%- url_for(tag.path) %>">
                            <%= tag.name %>
                        </a>
                    <% }) %>
                <% } %>
            </div>
        </div>
    </div>
    <h1>
        <%= page.title %>
    </h1>
    <div>
        <%- toc(page.content, {list_number: false}) %>
        <%- page.content %>
    </div>
</article>